@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    white-space: nowrap;
  }
  .shadow-sm {
    margin-top: -1%;
  }

  .text-sm {
    margin-right: 3%;
  }

  .multicolortext {
    background-image: linear-gradient(to left, green, darkblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
  }

  .flow-root .ml-8 {
    margin-left: 5rem;
}

  .flow-root .signup {
    padding-right: 10.85rem;
    margin-top:7%;
    margin-left: -2%
  }
}
